openapi: 3.0.3
info:
  title: Rankeao Public API
  description: User-facing API — authentication, tournaments, social, store browsing, marketplace, gamification, catalog,
    and notifications.
  version: 1.0.0
  contact:
    name: Rankeao
    url: https://rankeao.cl
servers:
- url: https://api.rankeao.cl
  description: Production
tags:
- name: Auth
- name: Tournaments
- name: Matches
- name: Ratings
- name: Tenants
- name: Staff
- name: Social
- name: Chat
- name: Clans
- name: Feed
- name: Store
- name: Orders
- name: Marketplace
- name: Listings
- name: Offers
- name: Disputes
- name: Gamification
- name: Badges
- name: Seasons
- name: Catalog
- name: Notifications
- name: Lobby
security: []
paths:
  /api/v1/auth/change-password:
    post:
      tags:
      - Auth
      summary: Change password (authenticated)
      description: 'Changes the authenticated user''s password. Requires the current password

        and the new password (min 8 characters). Returns 400 if the current password

        is incorrect. Requires Bearer token.

        '
      operationId: changePassword
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - current_password
              - new_password
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/auth/forgot-password:
    post:
      tags:
      - Auth
      summary: Forgot password (not implemented)
      description: 'Initiates a password reset flow by sending a reset link to the user''s email.

        Not yet implemented — always returns 501.

        '
      operationId: forgotPassword
      responses:
        '501':
          description: Not implemented
  /api/v1/auth/login:
    post:
      tags:
      - Auth
      summary: Log in with email and password
      description: 'Authenticates a user with email and password, returning an access token and refresh token.

        Returns 401 with INVALID_CREDENTIALS if the email or password is wrong.

        No authentication required.

        '
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/auth/oauth/apple/callback:
    get:
      tags:
      - Auth
      summary: Apple OAuth callback (not implemented)
      description: 'Handles the OAuth2 callback from Apple after the user authorizes.

        Creates or links an account and returns auth tokens.

        Not yet implemented — always returns 501.

        '
      operationId: oauthAppleCallback
      responses:
        '501':
          description: Not implemented
  /api/v1/auth/oauth/discord/callback:
    get:
      tags:
      - Auth
      summary: Discord OAuth callback (not implemented)
      description: 'Handles the OAuth2 callback from Discord after the user authorizes.

        Creates or links an account and returns auth tokens.

        Not yet implemented — always returns 501.

        '
      operationId: oauthDiscordCallback
      responses:
        '501':
          description: Not implemented
  /api/v1/auth/oauth/google/callback:
    get:
      tags:
      - Auth
      summary: Google OAuth callback (not implemented)
      description: 'Handles the OAuth2 callback from Google after the user authorizes.

        Creates or links an account and returns auth tokens.

        Not yet implemented — always returns 501.

        '
      operationId: oauthGoogleCallback
      responses:
        '501':
          description: Not implemented
  /api/v1/auth/refresh:
    post:
      tags:
      - Auth
      summary: Refresh access token
      description: 'Exchanges a valid refresh token for a new access/refresh token pair.

        The old refresh token is revoked upon successful exchange. If the refresh token

        is invalid, expired, or already revoked, returns 401. No authentication required.

        '
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/auth/register:
    post:
      tags:
      - Auth
      summary: Register a new user
      description: 'Creates a new user account and returns an access token plus refresh token.

        Username must be 3-30 characters (alphanumeric + underscores), email must be valid,

        and password must be at least 8 characters. Returns 409 if the email or username is already taken.

        No authentication required.

        '
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/auth/resend-verification:
    post:
      tags:
      - Auth
      summary: Resend verification email
      description: 'Resends the email verification link to the authenticated user''s email address.

        Rate-limited to prevent abuse. Returns 429 if called too frequently.

        Requires Bearer token.

        '
      operationId: resendVerification
      security:
      - BearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/auth/reset-password:
    post:
      tags:
      - Auth
      summary: Reset password (not implemented)
      description: 'Resets the user''s password using a token received via the forgot-password email.

        Not yet implemented — always returns 501.

        '
      operationId: resetPassword
      responses:
        '501':
          description: Not implemented
  /api/v1/auth/verify-email:
    post:
      tags:
      - Auth
      summary: Verify email (not implemented)
      description: 'Verifies the user''s email address using a verification token.

        Not yet implemented — always returns 501.

        '
      operationId: verifyEmail
      responses:
        '501':
          description: Not implemented
  /api/v1/availability/health:
    get:
      tags:
      - Lobby
      summary: Availability service health check
      description: 'Returns the health status of the availability service. No authentication required.

        This is a stub endpoint for the upcoming availability feature.

        '
      operationId: availabilityHealth
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
  /api/v1/catalog/autocomplete:
    get:
      tags:
      - Catalog
      summary: Card name autocomplete
      description: 'Returns fast autocomplete suggestions for card names. Requires a minimum of

        2 characters in the query. Optional game filter. Returns up to 10 results

        by default (max 20). No authentication required.

        '
      operationId: catalogAutocomplete
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
      - name: game
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Autocomplete suggestions
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/cards:
    post:
      tags:
      - Catalog
      summary: Create a card (admin)
      description: 'Creates a new card entry in the catalog for a specific game.

        Requires Bearer token with ADMIN grant.

        '
      operationId: createCatalogCard
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
      responses:
        '201':
          description: Card created
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/catalog/cards/search:
    get:
      tags:
      - Catalog
      summary: Full-text card search with facets
      description: 'Full-text or trigram search across all cards in the catalog. Supports filtering by

        game, set, format, card type, rarity, and colors. Returns faceted counts for

        refinement. Paginated (default 20, max 100). No authentication required.

        '
      operationId: searchCatalogCards
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: game
        in: query
        schema:
          type: string
      - name: set
        in: query
        schema:
          type: string
      - name: format
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: rarity
        in: query
        schema:
          type: string
      - name: colors
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Search results with facets
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/cards/{card_id}:
    get:
      tags:
      - Catalog
      summary: Get card detail with printings and legality
      description: 'Returns full card detail by UUID, including all printings across sets

        and format legality entries. No authentication required.

        '
      operationId: getCatalogCard
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Card detail
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Catalog
      summary: Update a card (admin)
      description: 'Partially updates a card (name, type_line, oracle_text, mana_cost).

        Only provided fields are changed. Requires Bearer token with ADMIN grant.

        '
      operationId: updateCatalogCard
      security:
      - BearerAuth: []
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type_line:
                  type: string
                oracle_text:
                  type: string
                mana_cost:
                  type: string
      responses:
        '200':
          description: Card updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/catalog/cards/{card_id}/legality:
    get:
      tags:
      - Catalog
      summary: Get card format legality
      description: 'Returns all format legality entries for a card (LEGAL, BANNED, RESTRICTED, NOT_LEGAL).

        No authentication required.

        '
      operationId: getCardLegality
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Legality entries
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Catalog
      summary: Batch update card legality (admin)
      description: 'Replaces legality entries for a card. Accepts an array of format_id + status pairs

        where status is one of LEGAL, BANNED, RESTRICTED, NOT_LEGAL.

        Requires Bearer token with ADMIN grant.

        '
      operationId: updateCardLegality
      security:
      - BearerAuth: []
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entries
              properties:
                entries:
                  type: array
                  items:
                    type: object
                    properties:
                      format_id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum:
                        - LEGAL
                        - BANNED
                        - RESTRICTED
                        - NOT_LEGAL
      responses:
        '200':
          description: Legality updated
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/cards/{card_id}/price-history:
    get:
      tags:
      - Catalog
      summary: Get card price history
      description: 'Returns price statistics (min, avg, max) for a card''s printings.

        Optionally filter to a specific printing via printing_id query parameter.

        No authentication required.

        '
      operationId: cardPriceHistory
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: printing_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Price history
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/cards/{card_id}/printings:
    get:
      tags:
      - Catalog
      summary: List printings for a card
      description: 'Returns all printings for a card with pagination and optional filtering

        by rarity and foil_only. Default sort is collector_number.

        No authentication required.

        '
      operationId: listCardPrintings
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: rarity
        in: query
        schema:
          type: string
      - name: foil_only
        in: query
        schema:
          type: boolean
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Printings list
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Catalog
      summary: Create a printing (admin)
      description: 'Creates a new printing of a card in a specific set. Requires set_id, collector_number,

        and rarity. Returns 409 if the collector_number already exists in the set.

        Requires Bearer token with ADMIN grant.

        '
      operationId: createCardPrinting
      security:
      - BearerAuth: []
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - set_id
              - collector_number
              - rarity
              properties:
                set_id:
                  type: string
                  format: uuid
                collector_number:
                  type: string
                rarity:
                  type: string
                image_url:
                  type: string
                is_foil:
                  type: boolean
      responses:
        '201':
          description: Printing created
          content:
            application/json:
              schema:
                type: object
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/catalog/games:
    get:
      tags:
      - Catalog
      summary: List all games
      description: 'Returns all active games in the catalog. Admins may pass include_inactive=true

        to also see inactive games. No authentication required.

        '
      operationId: listCatalogGames
      responses:
        '200':
          description: Games list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogGame'
    post:
      tags:
      - Catalog
      summary: Create a game (admin)
      description: 'Creates a new game entry in the catalog. Slug must be unique (2-50 chars).

        Returns 409 if the slug is already taken.

        Requires Bearer token with ADMIN grant.

        '
      operationId: createCatalogGame
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGameRequest'
      responses:
        '201':
          description: Game created
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/catalog/games/{slug}:
    get:
      tags:
      - Catalog
      summary: Get game detail with formats
      description: 'Returns a single game by slug, including its active formats.

        No authentication required.

        '
      operationId: getCatalogGame
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Game detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CatalogGame'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Catalog
      summary: Update a game (admin)
      description: 'Partially updates a game. Only provided fields are changed.

        Requires Bearer token with ADMIN grant.

        '
      operationId: updateCatalogGame
      security:
      - BearerAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                logo_url:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Game updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/catalog/games/{slug}/formats:
    get:
      tags:
      - Catalog
      summary: List formats for a game
      description: 'Returns all formats for a game by game slug. Admins may pass include_inactive=true

        to include inactive formats. Supports ranked_only filter.

        No authentication required.

        '
      operationId: listCatalogFormats
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Formats list
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Catalog
      summary: Create a format (admin)
      description: 'Creates a new format under a game. Requires name and slug (unique within the game).

        Returns 409 if the format slug already exists for this game.

        Requires Bearer token with ADMIN grant.

        '
      operationId: createCatalogFormat
      security:
      - BearerAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - slug
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '201':
          description: Format created
          content:
            application/json:
              schema:
                type: object
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/catalog/games/{slug}/formats/{format_slug}:
    patch:
      tags:
      - Catalog
      summary: Update a format (admin)
      description: 'Partially updates a game format. Only provided fields are changed.

        Requires Bearer token with ADMIN grant.

        '
      operationId: updateCatalogFormat
      security:
      - BearerAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: format_slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Format updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/catalog/games/{slug}/sets:
    get:
      tags:
      - Catalog
      summary: List sets for a game
      description: 'Returns card sets for a game with pagination, search (by name/code), set_type filter,

        and sorting (release_date_desc, name_asc, etc.). Default 50 per page, max 100.

        No authentication required.

        '
      operationId: listCatalogSets
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: string
      - name: set_type
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Sets list with pagination
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Catalog
      summary: Create a set (admin)
      description: 'Creates a new card set under a game. Returns 409 if the set code is already taken.

        Requires Bearer token with ADMIN grant.

        '
      operationId: createCatalogSet
      security:
      - BearerAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSetRequest'
      responses:
        '201':
          description: Set created
          content:
            application/json:
              schema:
                type: object
        '409':
          $ref: '#/components/responses/Conflict'
  /api/v1/catalog/import/cards:
    post:
      tags:
      - Catalog
      summary: Bulk import cards with printings (admin)
      description: 'Bulk imports cards with their printings for a game. Uses upsert logic.

        Returns counts of created, updated, and failed entries.

        Requires Bearer token with ADMIN grant.

        '
      operationId: bulkImportCards
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - game_slug
              - cards
              properties:
                game_slug:
                  type: string
                cards:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/import/legality:
    post:
      tags:
      - Catalog
      summary: Bulk import legality entries (admin)
      description: 'Bulk imports format legality entries. Uses upsert logic on card + format.

        Returns counts of created, updated, and failed entries.

        Requires Bearer token with ADMIN grant.

        '
      operationId: bulkImportLegality
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entries
              properties:
                entries:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/import/sets:
    post:
      tags:
      - Catalog
      summary: Bulk import sets (admin)
      description: 'Bulk imports multiple sets for a game. Uses upsert logic (insert or update on code).

        Returns counts of created, updated, and failed entries.

        Requires Bearer token with ADMIN grant.

        '
      operationId: bulkImportSets
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - game_slug
              - sets
              properties:
                game_slug:
                  type: string
                sets:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema:
                type: object
  /api/v1/catalog/printings/{printing_id}:
    patch:
      tags:
      - Catalog
      summary: Update a printing (admin)
      description: 'Partially updates a card printing (rarity, image_url, is_foil).

        Only provided fields are changed. Requires Bearer token with ADMIN grant.

        '
      operationId: updateCardPrinting
      security:
      - BearerAuth: []
      parameters:
      - name: printing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rarity:
                  type: string
                image_url:
                  type: string
                is_foil:
                  type: boolean
      responses:
        '200':
          description: Printing updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/catalog/sets/{set_id}:
    get:
      tags:
      - Catalog
      summary: Get set detail with rarity breakdown
      description: 'Returns a single set by UUID, including its parent game reference and a

        rarity breakdown (count per rarity). No authentication required.

        '
      operationId: getCatalogSet
      parameters:
      - name: set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Set detail
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Catalog
      summary: Update a set (admin)
      description: 'Partially updates a card set. Only provided fields (name, set_type, release_date,

        is_active) are changed. Requires Bearer token with ADMIN grant.

        '
      operationId: updateCatalogSet
      security:
      - BearerAuth: []
      parameters:
      - name: set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                set_type:
                  type: string
                release_date:
                  type: string
                  format: date
                is_active:
                  type: boolean
      responses:
        '200':
          description: Set updated
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/catalog/sets/{set_id}/cards:
    get:
      tags:
      - Catalog
      summary: List card printings in a set
      description: 'Returns card printings within a set with pagination, search by name/collector number,

        rarity filter, and sorting (collector_number_asc, name_asc, rarity, price_desc).

        Default 50 per page, max 100. No authentication required.

        '
      operationId: listSetCards
      parameters:
      - name: set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: q
        in: query
        schema:
          type: string
      - name: rarity
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Cards in set
          content:
            application/json:
              schema:
                type: object
  /api/v1/events/health:
    get:
      tags:
      - Lobby
      summary: Events service health check
      description: 'Returns the health status of the events service. No authentication required.

        This is a stub endpoint for the upcoming events feature.

        '
      operationId: eventsHealth
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
  /api/v1/gamification/badge-categories:
    get:
      tags:
      - Badges
      summary: List badge categories
      description: 'Returns all badge categories with their name, icon, and badge count.

        No authentication required.

        '
      operationId: listBadgeCategories
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
  /api/v1/gamification/badges:
    get:
      tags:
      - Badges
      summary: List badges
      description: 'Lists all badges with optional filtering by category, rarity, and sort order.

        When authenticated, includes the caller''s earned status and progress for each badge.

        Auth: optional.

        '
      operationId: listBadges
      parameters:
      - name: category
        in: query
        schema:
          type: string
      - name: rarity
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Badges
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
  /api/v1/gamification/badges/{badge_slug}:
    get:
      tags:
      - Badges
      summary: Get badge detail
      description: 'Returns full detail for a single badge by slug, including criteria, earner count,

        and recent earners. When authenticated, includes the caller''s progress.

        Auth: optional.

        '
      operationId: getBadgeDetail
      parameters:
      - name: badge_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Badge
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/cosmetics:
    get:
      tags:
      - Gamification
      summary: List cosmetics
      description: 'Lists all cosmetic items (avatar frames, name effects, card backs). Supports

        filtering by type and rarity. When authenticated, includes owned/equipped status.

        Auth: optional.

        '
      operationId: listGamificationCosmetics
      parameters:
      - name: type
        in: query
        schema:
          type: string
      - name: rarity
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Cosmetics
          content:
            application/json:
              schema:
                type: object
                properties:
                  cosmetics:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
  /api/v1/gamification/cosmetics/{cosmetic_slug}:
    get:
      tags:
      - Gamification
      summary: Get cosmetic detail
      description: 'Returns detail for a specific cosmetic by slug, including owner count and rarity.

        When authenticated, includes the caller''s ownership and equipped status.

        Auth: optional.

        '
      operationId: getCosmeticDetail
      parameters:
      - name: cosmetic_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cosmetic
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/leaderboard/xp:
    get:
      tags:
      - Gamification
      summary: Get XP leaderboard
      description: 'Returns the XP leaderboard ranked by total XP. Supports period filtering

        (all_time, season, month, week) and pagination (default 20 per page).

        No authentication required.

        '
      operationId: getXPLeaderboard
      parameters:
      - name: period
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Leaderboard
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/levels:
    get:
      tags:
      - Gamification
      summary: List XP levels
      description: 'Returns all level definitions with their XP thresholds, unlockable titles, and perks.

        No authentication required.

        '
      operationId: listLevels
      responses:
        '200':
          description: Levels
          content:
            application/json:
              schema:
                type: object
                properties:
                  levels:
                    type: array
                    items:
                      type: object
  /api/v1/gamification/seasons:
    get:
      tags:
      - Seasons
      summary: List gamification seasons
      description: 'Returns all seasons (past, current, and upcoming) with their status, dates,

        and aggregate stats. No authentication required.

        '
      operationId: listGamificationSeasons
      responses:
        '200':
          description: Seasons
          content:
            application/json:
              schema:
                type: object
                properties:
                  seasons:
                    type: array
                    items:
                      type: object
    post:
      tags:
      - Seasons
      summary: Create season (admin)
      description: 'Creates a new competitive season with a name and date range.

        Returns 409 if dates overlap with an existing active season.

        Requires Bearer token with admin grant.

        '
      operationId: createGamificationSeason
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Season created
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/seasons/{season_id}:
    get:
      tags:
      - Seasons
      summary: Get season detail
      description: 'Returns detail for a specific season including stats and rewards (if closed).

        No authentication required.

        '
      operationId: getGamificationSeason
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Season
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/seasons/{season_id}/leaderboard:
    get:
      tags:
      - Seasons
      summary: Get season leaderboard
      description: 'Returns the competitive rating leaderboard for a season, filtered by game_id and

        format_id (both required). When authenticated, includes the caller''s position.

        Paginated (default 25, max 100). Auth: optional.

        '
      operationId: getSeasonLeaderboard
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: game_id
        in: query
        schema:
          type: string
      - name: format_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Leaderboard
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/seasons/{season_id}/leaderboard/games:
    get:
      tags:
      - Seasons
      summary: List leaderboard games for season
      description: 'Lists available game/format combinations that have leaderboard data for the

        given season. Used to populate game/format selectors on the leaderboard UI.

        No authentication required.

        '
      operationId: getSeasonLeaderboardGames
      parameters:
      - name: season_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Games
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/titles:
    get:
      tags:
      - Gamification
      summary: List titles
      description: 'Lists all titles with optional filtering by type (level, seasonal, achievement)

        and season. When authenticated, includes the caller''s owned status.

        Auth: optional.

        '
      operationId: listGamificationTitles
      parameters:
      - name: type
        in: query
        schema:
          type: string
      - name: season_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Titles
          content:
            application/json:
              schema:
                type: object
                properties:
                  titles:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
  /api/v1/gamification/titles/{title_slug}:
    get:
      tags:
      - Gamification
      summary: Get title detail
      description: 'Returns detail for a specific title by slug, including holders list and color.

        When authenticated, includes the caller''s ownership status.

        Auth: optional.

        '
      operationId: getTitleDetail
      parameters:
      - name: title_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Title
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/users/{username_stats}/stats:
    get:
      tags:
      - Gamification
      summary: Get user XP stats
      description: 'Returns gamification stats for a user by username, including level, XP progress,

        current title, equipped badge/frame, showcase badges, and XP rank.

        No authentication required.

        '
      operationId: getUserXPStats
      parameters:
      - name: username_stats
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                type: object
  /api/v1/gamification/xp-events:
    get:
      tags:
      - Gamification
      summary: List XP events
      description: 'Lists active XP-earning event definitions that describe what player actions earn XP,

        including cooldowns and daily limits. No authentication required.

        '
      operationId: listXPEvents
      responses:
        '200':
          description: XP events
          content:
            application/json:
              schema:
                type: object
                properties:
                  xp_events:
                    type: array
                    items:
                      type: object
  /api/v1/lobbies/health:
    get:
      tags:
      - Lobby
      summary: Lobby service health check
      description: 'Returns the health status of the lobby service. No authentication required.

        This is a stub endpoint for the upcoming lobby feature.

        '
      operationId: lobbiesHealth
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  status:
                    type: string
  /api/v1/marketplace/checkouts/{checkout_id}:
    get:
      tags:
      - Marketplace
      summary: Get checkout detail
      description: 'Returns the current status and details of a marketplace checkout including

        pricing breakdown, delivery method, and expiry time. Accessible by both

        buyer and seller. Requires Bearer token.

        '
      operationId: getCheckout
      security:
      - BearerAuth: []
      parameters:
      - name: checkout_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Checkout
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/checkouts/{checkout_id}/pay:
    post:
      tags:
      - Marketplace
      summary: Pay for checkout
      description: 'Initiates payment for a marketplace checkout. Specify the payment provider

        (WEBPAY or MERCADOPAGO). Returns a payment_url to redirect the buyer.

        Funds are held in escrow until delivery is confirmed. Requires Bearer token (buyer).

        '
      operationId: payCheckout
      security:
      - BearerAuth: []
      parameters:
      - name: checkout_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Payment result
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/config:
    get:
      tags:
      - Marketplace
      summary: Get marketplace config (admin)
      description: 'Returns all marketplace configuration key-value pairs (e.g. platform_fee_pct,

        auto_release_days, max_listing_price). Requires Bearer token with admin grants.

        '
      operationId: getMarketplaceConfig
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Config
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Marketplace
      summary: Update marketplace config (admin)
      description: 'Updates one or more marketplace configuration values. Accepts a values object

        with key-value pairs (e.g. platform_fee_pct, auto_release_days). Requires

        Bearer token with admin grants.

        '
      operationId: updateMarketplaceConfig
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          $ref: '#/components/responses/MessageResponse'
  /api/v1/marketplace/disputes/{dispute_id}:
    get:
      tags:
      - Disputes
      summary: Get dispute detail
      description: 'Returns full dispute detail including evidence, messages, and status.

        Accessible by parties involved in the dispute or moderators.

        Requires Bearer token.

        '
      operationId: getDisputeDetail
      security:
      - BearerAuth: []
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Dispute detail
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/disputes/{dispute_id}/evidence:
    post:
      tags:
      - Disputes
      summary: Submit dispute evidence
      description: 'Submits additional evidence (photos, documents) to support a dispute claim.

        Accepts type, url, and description. Only parties involved in the dispute

        can submit evidence. Requires Bearer token.

        '
      operationId: submitDisputeEvidence
      security:
      - BearerAuth: []
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Evidence submitted
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/disputes/{dispute_id}/message:
    post:
      tags:
      - Disputes
      summary: Send dispute message
      description: 'Sends a message in the dispute thread. Available to both parties and moderators.

        The is_internal flag (moderator-only) marks messages visible only to staff.

        Requires Bearer token.

        '
      operationId: sendDisputeMessage
      security:
      - BearerAuth: []
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/disputes/{dispute_id}/respond:
    post:
      tags:
      - Disputes
      summary: Respond to dispute
      description: 'The respondent (party the dispute is against) submits their response with

        a message and optional evidence URLs. Requires Bearer token (respondent).

        '
      operationId: respondToDispute
      security:
      - BearerAuth: []
      parameters:
      - name: dispute_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Response submitted
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/favorites:
    get:
      tags:
      - Listings
      summary: List favorites
      description: 'Lists the authenticated user''s favorited listings with current status

        and pricing. Paginated. Requires Bearer token.

        '
      operationId: listFavorites
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Favorites
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/listings:
    get:
      tags:
      - Marketplace
      summary: Search marketplace listings
      description: 'Public endpoint to search and browse active C2C marketplace listings. Supports

        filtering by card, game, condition, language, foil, price range, location, and

        proximity (lat/lng/radius_km). Results are paginated (max 60 per page) and can

        include facet aggregations. Optional auth adds is_favorited info.

        '
      operationId: searchListings
      parameters:
      - name: q
        in: query
        schema:
          type: string
      - name: card_id
        in: query
        schema:
          type: string
      - name: condition
        in: query
        schema:
          type: string
      - name: min_price
        in: query
        schema:
          type: number
      - name: max_price
        in: query
        schema:
          type: number
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Listing search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  listings:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags:
      - Listings
      summary: Create listing
      description: 'Creates a new C2C marketplace listing. Requires a registered seller profile.

        card_id, printing_id, game_id, title (5-200 chars), card_condition, card_language,

        quantity (1-99), price (min 100 cents), city, and region are required.

        Requires Bearer token.

        '
      operationId: createListing
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Listing created
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/listings/mine:
    get:
      tags:
      - Listings
      summary: List my listings
      description: 'Lists the authenticated seller''s own listings. Supports filtering by status

        (ACTIVE, PAUSED, SOLD, EXPIRED) with pagination. Requires Bearer token.

        '
      operationId: listMyListings
      security:
      - BearerAuth: []
      responses:
        '200':
          description: My listings
          content:
            application/json:
              schema:
                type: object
                properties:
                  listings:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/listings/{listing_id}:
    get:
      tags:
      - Marketplace
      summary: Get listing detail
      description: 'Returns full listing detail including seller profile, images, price context

        (min/max/avg across similar listings), and similar listings. Optional auth

        adds is_favorited field. No authentication required.

        '
      operationId: getListingDetail
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Listing detail
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Listings
      summary: Update listing
      description: 'Partially updates a listing. Only send the fields to change. Only the listing

        owner can update it. Requires Bearer token.

        '
      operationId: updateListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Listings
      summary: Delete listing
      description: 'Permanently deletes a listing from the marketplace. Only the listing owner

        can delete it. Requires Bearer token.

        '
      operationId: deleteListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
  /api/v1/marketplace/listings/{listing_id}/activate:
    post:
      tags:
      - Listings
      summary: Activate listing
      description: 'Reactivates a paused listing, making it visible in marketplace search results

        again. Only the listing owner can activate it. Requires Bearer token.

        '
      operationId: activateListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /api/v1/marketplace/listings/{listing_id}/buy:
    post:
      tags:
      - Marketplace
      summary: Buy listing
      description: 'Starts a purchase flow for a listing, creating an order with escrow. Requires

        quantity, delivery_method (SHIPPING, IN_PERSON, or PICKUP), and shipping_address

        when using SHIPPING. The checkout expires after 1 hour if not paid.

        Requires Bearer token.

        '
      operationId: buyListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Checkout started
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/listings/{listing_id}/favorite:
    post:
      tags:
      - Listings
      summary: Favorite listing
      description: 'Adds a listing to the authenticated user''s favorites list for easy

        access later. Requires Bearer token.

        '
      operationId: favoriteListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Favorited
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorited:
                    type: boolean
    delete:
      tags:
      - Listings
      summary: Unfavorite listing
      description: 'Removes a listing from the authenticated user''s favorites list.

        Requires Bearer token.

        '
      operationId: unfavoriteListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Unfavorited
          content:
            application/json:
              schema:
                type: object
                properties:
                  unfavorited:
                    type: boolean
  /api/v1/marketplace/listings/{listing_id}/images:
    post:
      tags:
      - Listings
      summary: Upload listing images
      description: 'Uploads images for a listing. Accepts url, thumbnail_url, and alt_text fields.

        Only the listing owner can add images. Requires Bearer token.

        '
      operationId: uploadListingImages
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Images uploaded
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/listings/{listing_id}/images/{image_id}:
    delete:
      tags:
      - Listings
      summary: Delete listing image
      description: 'Deletes a specific image from a listing. Only the listing owner can

        delete images. Requires Bearer token.

        '
      operationId: deleteListingImage
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: image_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
  /api/v1/marketplace/listings/{listing_id}/offers:
    post:
      tags:
      - Offers
      summary: Make an offer
      description: 'Makes a price offer on a listing. The listing must be active and accept offers.

        Amount must be at or above the listing''s min_offer_price. Cannot offer on your

        own listing. Returns LISTING_NOT_ACTIVE, OFFERS_NOT_ACCEPTED, AMOUNT_TOO_LOW,

        or CANNOT_OFFER_OWN_ITEM on failure. Requires Bearer token.

        '
      operationId: makeOffer
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Offer made
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
      - Offers
      summary: List offers for listing
      description: 'Lists all offers on a listing (seller view). Supports filtering by status

        (PENDING, ACCEPTED, REJECTED, WITHDRAWN, EXPIRED) and sorting by newest,

        highest, or lowest. Requires Bearer token (listing owner).

        '
      operationId: listListingOffers
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/listings/{listing_id}/pause:
    post:
      tags:
      - Listings
      summary: Pause listing
      description: 'Temporarily hides a listing from marketplace search results. The listing can

        be reactivated later. Only the listing owner can pause it. Requires Bearer token.

        '
      operationId: pauseListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Paused
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /api/v1/marketplace/listings/{listing_id}/renew:
    post:
      tags:
      - Listings
      summary: Renew listing
      description: 'Extends the expiry date of a listing to keep it active for longer.

        Only the listing owner can renew it. Requires Bearer token.

        '
      operationId: renewListing
      security:
      - BearerAuth: []
      parameters:
      - name: listing_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Renewed
          content:
            application/json:
              schema:
                type: object
                properties:
                  renewed:
                    type: boolean
  /api/v1/marketplace/offers/mine:
    get:
      tags:
      - Offers
      summary: List my offers
      description: 'Lists the authenticated user''s offers as a buyer across all listings.

        Supports filtering by status and pagination. Requires Bearer token.

        '
      operationId: listMyOffers
      security:
      - BearerAuth: []
      responses:
        '200':
          description: My offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/offers/{offer_id}/accept:
    post:
      tags:
      - Offers
      summary: Accept offer
      description: 'Seller accepts a pending offer, initiating the checkout/payment flow for

        the buyer. Only the listing owner can accept. Requires Bearer token.

        '
      operationId: acceptOffer
      security:
      - BearerAuth: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/offers/{offer_id}/accept-counter:
    post:
      tags:
      - Offers
      summary: Accept counter offer
      description: 'Buyer accepts a counter-offer from the seller, initiating the checkout

        flow at the counter-offer price. Requires Bearer token (offer buyer).

        '
      operationId: acceptCounterOffer
      security:
      - BearerAuth: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/offers/{offer_id}/counter:
    post:
      tags:
      - Offers
      summary: Counter offer
      description: 'Seller responds with a counter-offer at a different price. Returns

        OFFER_NOT_PENDING (409) if the offer is no longer pending, or

        MAX_COUNTER_DEPTH (409) if the maximum counter-offer chain is reached.

        Only the listing owner can counter. Requires Bearer token.

        '
      operationId: counterOffer
      security:
      - BearerAuth: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Counter sent
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/offers/{offer_id}/reject:
    post:
      tags:
      - Offers
      summary: Reject offer
      description: 'Seller rejects a pending offer with an optional message explaining why.

        Only the listing owner can reject. Requires Bearer token.

        '
      operationId: rejectOffer
      security:
      - BearerAuth: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Rejected
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/offers/{offer_id}/withdraw:
    post:
      tags:
      - Offers
      summary: Withdraw offer
      description: 'Buyer withdraws a pending offer they previously made. Can only withdraw

        offers that are still pending. Requires Bearer token (offer buyer).

        '
      operationId: withdrawOffer
      security:
      - BearerAuth: []
      parameters:
      - name: offer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Withdrawn
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/orders:
    get:
      tags:
      - Marketplace
      summary: List marketplace orders
      description: 'Lists the authenticated user''s C2C orders. Filter by role (BUYER or SELLER),

        status, and date range. Paginated (max 100 per page). Requires Bearer token.

        '
      operationId: listMarketplaceOrders
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/orders/{mp_order_id}:
    get:
      tags:
      - Marketplace
      summary: Get marketplace order detail
      description: 'Returns full C2C order detail including escrow status, payment info, and

        shipment tracking. Accessible by both buyer and seller. Requires Bearer token.

        '
      operationId: getMarketplaceOrderDetail
      security:
      - BearerAuth: []
      parameters:
      - name: mp_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/orders/{mp_order_id}/confirm-delivery:
    post:
      tags:
      - Marketplace
      summary: Confirm marketplace delivery
      description: 'Buyer confirms that the order has been received, which releases the escrow

        funds to the seller. If not confirmed within 7 days after shipping, escrow

        is auto-released. Requires Bearer token (buyer).

        '
      operationId: confirmMarketplaceDelivery
      security:
      - BearerAuth: []
      parameters:
      - name: mp_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Confirmed
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/orders/{mp_order_id}/disputes:
    post:
      tags:
      - Disputes
      summary: Open dispute
      description: 'Opens a dispute on a C2C order. Requires a reason code and description.

        Freezes the escrow until resolution. Returns ORDER_ALREADY_DISPUTED (409)

        if a dispute already exists, or INVALID_ORDER_STATUS (400) if the order

        status does not allow disputes. Requires Bearer token (buyer or seller).

        '
      operationId: openDispute
      security:
      - BearerAuth: []
      parameters:
      - name: mp_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Dispute opened
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/orders/{mp_order_id}/reviews:
    post:
      tags:
      - Marketplace
      summary: Review marketplace order
      description: 'Submits a review for a completed C2C order. Ratings (1-5) include overall,

        condition_accuracy, shipping_speed, communication, and packaging. Comments

        are limited to 2000 characters. Requires Bearer token.

        '
      operationId: reviewMarketplaceOrder
      security:
      - BearerAuth: []
      parameters:
      - name: mp_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Review submitted
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/orders/{mp_order_id}/ship:
    post:
      tags:
      - Marketplace
      summary: Ship marketplace order
      description: 'Seller marks a C2C order as shipped with carrier and tracking info. Carrier

        and tracking_number are required. Starts the escrow auto-release timer

        (7 days). Requires Bearer token (seller).

        '
      operationId: shipMarketplaceOrder
      security:
      - BearerAuth: []
      parameters:
      - name: mp_order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Shipped
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/price-alerts:
    post:
      tags:
      - Listings
      summary: Create price alert
      description: 'Creates a price alert for a specific card. When a listing matching the criteria

        (max_price, min_condition, language, foil_only) appears, the user is notified

        via email and/or push notification. Requires Bearer token.

        '
      operationId: createPriceAlert
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
      - Listings
      summary: List price alerts
      description: 'Lists the authenticated user''s active price alerts.

        Requires Bearer token.

        '
      operationId: listPriceAlerts
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Price alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/price-alerts/{alert_id}:
    patch:
      tags:
      - Listings
      summary: Update price alert
      description: 'Updates the criteria or notification preferences of an existing price alert.

        Requires Bearer token.

        '
      operationId: updatePriceAlert
      security:
      - BearerAuth: []
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Listings
      summary: Delete price alert
      description: 'Deletes a price alert so the user will no longer receive notifications

        for matching listings. Requires Bearer token.

        '
      operationId: deletePriceAlert
      security:
      - BearerAuth: []
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
  /api/v1/marketplace/saved-searches:
    post:
      tags:
      - Listings
      summary: Create saved search
      description: 'Saves a search with filters for later reuse. Optionally enable notifications

        to be alerted when new listings match the saved criteria. Requires Bearer token.

        '
      operationId: createSavedSearch
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
      - Listings
      summary: List saved searches
      description: 'Lists the authenticated user''s saved searches with their filter criteria

        and notification settings. Requires Bearer token.

        '
      operationId: listSavedSearches
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Saved searches
          content:
            application/json:
              schema:
                type: object
                properties:
                  searches:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/saved-searches/{search_id}:
    delete:
      tags:
      - Listings
      summary: Delete saved search
      description: 'Deletes a saved search and disables any associated notifications.

        Requires Bearer token.

        '
      operationId: deleteSavedSearch
      security:
      - BearerAuth: []
      parameters:
      - name: search_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
  /api/v1/marketplace/seller/bank-accounts:
    post:
      tags:
      - Marketplace
      summary: Add bank account
      description: 'Adds a bank account for receiving marketplace payouts. Requires bank_name,

        account_type (CORRIENTE, VISTA, or RUT), account_number, holder_name, and

        holder_rut. Requires Bearer token.

        '
      operationId: addBankAccount
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Bank account added
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/seller/bank-accounts/{bank_account_id}:
    delete:
      tags:
      - Marketplace
      summary: Delete bank account
      description: 'Deletes a bank account from the seller''s payout configuration.

        Requires Bearer token.

        '
      operationId: deleteBankAccount
      security:
      - BearerAuth: []
      parameters:
      - name: bank_account_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
  /api/v1/marketplace/seller/me:
    get:
      tags:
      - Marketplace
      summary: Get my seller profile
      description: 'Returns the authenticated user''s full seller profile including bank accounts,

        sales stats, listing limits, and tier info. Requires Bearer token.

        '
      operationId: getMySellerProfile
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Seller profile
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
      - Marketplace
      summary: Update seller profile
      description: 'Updates the authenticated user''s seller profile. Supports updating store_name,

        store_description, display_name, location, delivery preferences, default shipping

        price, and vacation settings. Requires Bearer token.

        '
      operationId: updateMySellerProfile
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/seller/payouts:
    get:
      tags:
      - Marketplace
      summary: List payouts
      description: 'Lists the seller''s payouts with status (PENDING, PROCESSING, COMPLETED, FAILED).

        Supports date range filtering and pagination. Payouts reflect seller earnings

        after the 5% platform fee deduction. Requires Bearer token.

        '
      operationId: listPayouts
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Payouts
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      type: object
  /api/v1/marketplace/seller/payouts/{payout_id}:
    get:
      tags:
      - Marketplace
      summary: Get payout detail
      description: 'Returns detailed payout information including per-order breakdown showing

        individual order amounts and platform fees. Requires Bearer token.

        '
      operationId: getPayoutDetail
      security:
      - BearerAuth: []
      parameters:
      - name: payout_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Payout
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/seller/setup:
    post:
      tags:
      - Marketplace
      summary: Setup seller profile
      description: 'Registers the authenticated user as a marketplace seller. Requires store_name

        (3-60 chars), city, region, and accept_terms must be true. Optionally configure

        accepts_in_person and accepts_shipping delivery methods. Requires Bearer token.

        '
      operationId: setupSeller
      security:
      - BearerAuth: []
      responses:
        '201':
          description: Profile created
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/sellers/{seller_id}:
    get:
      tags:
      - Marketplace
      summary: Get seller profile
      description: 'Returns a public seller profile by username, including store name, location,

        active listings count, total sales, average rating, response time, and listing

        tier. No authentication required.

        '
      operationId: getSellerProfile
      parameters:
      - name: seller_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Seller profile
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/uploads:
    post:
      tags:
      - Marketplace
      summary: Upload file
      description: 'Uploads a file (image or PDF) for use in listings or dispute evidence.

        Accepts multipart form with a file field. Max 10 MB. Allowed types:

        JPEG, PNG, WebP, PDF. Requires Bearer token.

        '
      operationId: uploadMarketplaceFile
      security:
      - BearerAuth: []
      responses:
        '201':
          description: Upload result
          content:
            application/json:
              schema:
                type: object
  /api/v1/marketplace/users/{user_id_reviews}/reviews:
    get:
      tags:
      - Marketplace
      summary: Get user marketplace reviews
      description: 'Lists reviews for a user on the marketplace. Supports filtering by role

        (SELLER or BUYER) and minimum rating. Includes aggregate stats with average

        scores and rating distribution. No authentication required.

        '
      operationId: getMarketplaceUserReviews
      parameters:
      - name: user_id_reviews
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Reviews
          content:
            application/json:
              schema:
                type: object
  /api/v1/notifications:
    get:
      tags:
      - Notifications
      summary: List user notifications
      description: 'Returns the authenticated user''s notifications with optional filtering by category,

        priority, and unread_only. Paginated (default 20, max 100).

        Requires Bearer token.

        '
      operationId: listNotifications
      security:
      - BearerAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - tournament
          - social
          - marketplace
          - system
      - name: priority
        in: query
        schema:
          type: string
          enum:
          - LOW
          - NORMAL
          - HIGH
          - URGENT
      - name: unread_only
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Notifications list with pagination
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Notifications
      summary: Batch delete notifications
      description: 'Deletes multiple notifications at once. Provide notification_ids to delete specific ones,

        or set all_read=true to delete all read notifications. At least one option must be provided.

        Requires Bearer token.

        '
      operationId: batchDeleteNotifications
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_ids:
                  type: array
                  items:
                    type: integer
                all_read:
                  type: boolean
      responses:
        '200':
          description: Deleted count
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      deleted:
                        type: integer
  /api/v1/notifications/devices:
    get:
      tags:
      - Notifications
      summary: List registered devices
      description: 'Returns all push notification devices registered by the authenticated user,

        including platform, device name, and last used timestamp.

        Requires Bearer token.

        '
      operationId: listDevices
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Devices list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
    post:
      tags:
      - Notifications
      summary: Register a device for push notifications
      description: 'Registers a device token for push notifications. A maximum of 5 devices per user

        is enforced; the oldest device is evicted if the limit is reached.

        Requires Bearer token.

        '
      operationId: registerDevice
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - platform
              properties:
                token:
                  type: string
                platform:
                  type: string
                  enum:
                  - ANDROID
                  - IOS
                  - WEB
                device_name:
                  type: string
      responses:
        '201':
          description: Device registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Device'
    delete:
      tags:
      - Notifications
      summary: Unregister all devices
      description: 'Unregisters all push notification devices for the authenticated user.

        Returns the count of deleted devices. Requires Bearer token.

        '
      operationId: deleteAllDevices
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Deleted count
          content:
            application/json:
              schema:
                type: object
  /api/v1/notifications/devices/{device_id}:
    delete:
      tags:
      - Notifications
      summary: Unregister a device
      description: 'Unregisters a specific device by its public UUID. Returns 404 if not found

        or does not belong to the authenticated user. Requires Bearer token.

        '
      operationId: deleteDevice
      security:
      - BearerAuth: []
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/notifications/preferences:
    get:
      tags:
      - Notifications
      summary: Get notification preferences
      description: 'Returns the user''s notification preferences as a map of category to channel to enabled

        status. All categories and channels default to true if no explicit preference is set.

        Cached in Redis for 5 minutes. Requires Bearer token.

        '
      operationId: getNotificationPreferences
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Preferences map (category → channel → enabled)
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Notifications
      summary: Batch update notification preferences
      description: 'Batch updates multiple notification preferences at once. Each item sets a specific

        category + channel + enabled combination. Requires Bearer token.

        '
      operationId: batchUpdatePreferences
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - preferences
              properties:
                preferences:
                  type: array
                  items:
                    $ref: '#/components/schemas/PreferenceUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
    patch:
      tags:
      - Notifications
      summary: Update single notification preference
      description: 'Updates a single notification preference (one category + channel combination).

        Requires Bearer token.

        '
      operationId: updateSinglePreference
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/notifications/read-all:
    post:
      tags:
      - Notifications
      summary: Mark all notifications as read
      description: 'Marks all notifications as read for the authenticated user. Optionally pass a category

        in the body to only mark notifications in that category. Returns the count of marked.

        Requires Bearer token.

        '
      operationId: markAllNotificationsRead
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                  enum:
                  - tournament
                  - social
                  - marketplace
                  - system
      responses:
        '200':
          description: Marked count
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      marked:
                        type: integer
  /api/v1/notifications/unread-count:
    get:
      tags:
      - Notifications
      summary: Get unread notification count by category
      description: 'Returns total unread count and breakdown by category (tournament, social, marketplace,

        system) for the authenticated user. Result is cached in Redis for 30 seconds.

        Requires Bearer token.

        '
      operationId: getUnreadCount
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Unread counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                      by_category:
                        type: object
  /api/v1/notifications/{notification_id}:
    get:
      tags:
      - Notifications
      summary: Get single notification detail
      description: 'Returns extended detail for a single notification including the template key if it was

        generated from a template. Returns 404 if not found or does not belong to the caller.

        Requires Bearer token.

        '
      operationId: getNotification
      security:
      - BearerAuth: []
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Notification detail
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Notifications
      summary: Delete a single notification
      description: 'Deletes a single notification by ID. Returns 404 if not found or does not belong

        to the authenticated user. Requires Bearer token.

        '
      operationId: deleteNotification
      security:
      - BearerAuth: []
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/notifications/{notification_id}/read:
    post:
      tags:
      - Notifications
      summary: Mark notification as read
      description: 'Marks a single notification as read by setting read_at. Returns 404 if not found

        or does not belong to the authenticated user. Requires Bearer token.

        '
      operationId: markNotificationRead
      security:
      - BearerAuth: []
      parameters:
      - name: notification_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Marked read
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/social/blocks:
    get:
      tags:
      - Social
      summary: List blocked users
      description: 'List all users the authenticated user has blocked. Returns blocked user

[...]
